/* NavBar */

.navbar span {
    padding: 10px 15px 10px;
    text-decoration: none;
    text-shadow: 0 1px 0 white;
    display: block;
}
.navbar-inner i {
	margin-right: 5px;
}

/* Booking Page */

.slot-unavailable {

}

.slot-booked {

}

.slot-available {
    cursor: pointer;
}

.basket-item {
    width: 90%;
    margin-bottom: 5px;
}

#legend {
    text-align: center;
}


.underline_text {
    text-decoration: underline !important;
}

/* Availability Page */

.control-bar {
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
	padding: 10px;
}
.control-bar.horizontal {
	min-height: 20px;
	margin-bottom: 15px;
}

#vanilla-controls {
	margin-top: 10px;
	margin-bottom: 10px;
}
#vanilla-controls .draggable-resource {
	width: 103px;
}

#resource-orientation .resource-help {
	margin-top: 10px;
	margin-bottom: 0px;
}

.fc-event.invert .fc-event-bg,
.fc-event.invert .fc-event-inner,
.resource-stripes {
	background-image: url("/static/img/stripe.png");
}

.resource-stripes {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index: 1;
	opacity: .4;
	filter: alpha(opacity=40);
}


/* Colour select */
.colour-select-slider {
}


/* Protected Page */

.no-cheese-burger {
    color: red;
}

/* DataTables row hilighting */

table.table tbody tr.even:hover, #example tbody tr.even td.highlighted {
    background-color: #ECFFB3;
}

table.table tbody tr.odd:hover, #example tbody tr.odd td.highlighted {
    background-color: #E6FF99;
}

table.table tr.even:hover {
    background-color: #ECFFB3;
}

table.table tr.even:hover td.sorting_1 {
    background-color: #DDFF75;
}

table.table tr.even:hover td.sorting_2 {
    background-color: #E7FF9E;
}

table.table tr.even:hover td.sorting_3 {
    background-color: #E2FF89;
}

table.table tr.odd:hover {
    background-color: #E6FF99;
}

table.table tr.odd:hover td.sorting_1 {
    background-color: #D6FF5C;
}

table.table tr.odd:hover td.sorting_2 {
    background-color: #E0FF84;
}

table.table tr.odd:hover td.sorting_3 {
    background-color: #DBFF70;
}
